node_modules/
.next/
out/
dist/
coverage/
.env
.env*.local
!.env.example
*.log
.DS_Store
Thumbs.db
.vercel
android/app/build/
ios/App/Pods/
/build
.pnp
.pnp.*
*.pem
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
*.jks
*.keystore
android/app/release/
